/* Main Body */

body {
    display: grid;
    place-items: center;
    background-color: #3E505B;
}

.center-div {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    box-shadow: 1px 1px 20px  2px #ffffff;
}

text1 {
    font-size: 30px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 0px;
    padding: 10px;
    width: 100vw;
    background-color: black;
    color: azure;
}

div .left-side p{
    background-color: tan;
    text-align: center;
    border: 2px solid white;
    color: black;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    font-weight: 700;
}

.left-side,
.right-side {
    height: 80vh;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px 20px;
}

.left-side {
    background-color: black;
    color: aliceblue;
    overflow-y: scroll;
    height: auto;
}

.right-side text {
    background-color: tan;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    color: black;
    padding: 10px;
    margin: 0;
    overflow-y: scroll;
    height: auto;
    border-radius: 10px;
    font-weight: 700;
}

.right-side {
    background-color: aliceblue;
    overflow-y: scroll;
    height: auto;
}

/* Footer */

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background: black;
    margin-top: 100px;
    color: #ffffff;
}

.footer-text {
    position: relative;
}

.footer-text p {
    font-size: 16px;
}

/* Making the website responsive */

@media (max-width : 768px)
{
    .center-div {
        width: 80vw;
        margin: 100px auto;
        display: block;
    }

    .left-side,
    .right-side {
        width: 90%;
        height: 80vh;
    }
}